.form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 40vw;
  background: rgb(233, 189, 243);
  padding: 3rem 2rem;
  border-radius: 30px;
  border: 5px solid;
  margin-bottom: 5rem;
}

.form h3 {
  font-size: 3rem;
  padding-bottom: 0.5rem;
}

.form p {
  font-size: 1.2rem;
  font-weight: bolder;
  padding-bottom: 3rem;
}

.form input {
  margin-bottom: 2rem;
  font-size: 1rem;
}

.form textarea {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

